* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #222222;
}
a {
  text-decoration: none;
  color: #222222;
}
img {
  width: 100%;
}
.mb-6 {
  margin-bottom: 24px;
}
.mt-10px {
  margin-top: 10px;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 68px;
  background: #fff;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.header-nav {
  width: 29px;
}
.header-logo {
  width: 121px;
}
.header-bell i {
  font-size: 22px;
  color: #134390;
  padding-top: 4px;
}

.banner-question {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  background: #134390;
  padding: 5px 12px;
}
.banner-question p {
  color: #fff;
}
.banner-img {
  width: 100%;
}

.whychoose {
  margin-top: 35px;
  padding: 0 12px;
}
.whychoose-title p {
  font-weight: 700;
  color: #2a2627;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
}
.whychoose-title span {
  color: #ff1919;
  margin-left: 4px;
  font-size: 20px;
}
.whychoose-subtitle {
  margin-top: 20px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.whychoose-subtitle_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whychoose-item_img {
  width: 50px;
}
.whychoose-item_title {
  font-size: 15px;
  line-height: 22px;
  color: #ff1919;
  text-transform: uppercase;
  margin-top: 10px;
}
.whychoose-item_subtitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #134390;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.whychoose-item_desc {
  text-align: center;
}

.financial {
  margin-top: 35px;
  padding: 3.75rem 0 6.25rem;
  background: #1a5fe0 no-repeat top center;
  background-size: cover;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 20px rgba(25, 50, 156, 0.35);
  box-shadow: 0 0 20px rgba(25, 50, 156, 0.35);
  margin-bottom: 0px;
  height: 150px;
}
.financial::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 70, 149, 0.78);
}
.financial::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6) 0,
    rgba(255, 255, 255, 0) 100%
  );
  background-repeat: repeat-x;
  bottom: 40%;
}
.financial-img {
  width: 169px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.partner {
  margin-top: 35px;
  padding: 0 12px;
}
.partner-title {
  text-align: center;
  font-weight: 500;
}
.partner-title p {
  font-size: 18px;
  color: #ff1919;
  text-transform: uppercase;
}
.partner-title span {
  font-weight: 700;
  font-size: 18px;
  color: #134390;
  text-transform: uppercase;
}
.partner-desc {
  margin-top: 10px;
  text-align: justify;
  font-size: 20px;
}
.partner-btn {
  position: relative;
  z-index: 10;
  margin-top: 24px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 24px;
  background-image: linear-gradient(to right, #ff1919 0, #ff7900 100%);
  background-repeat: repeat-x;
}
.partner-btn a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.guide {
  margin-top: 35px;
  padding: 0 12px;
}
.guide-subtitle {
  padding: 0 8px;
  margin-top: 10px;
  margin-bottom: 16px;
  color: #777777;
  font-size: 16px;
  text-align: center;
}
.guide-steps {
  margin: 0 auto;
  position: relative;
  padding-top: 31px;
  min-height: 575px;
  padding-left: 10px;
  padding-right: 10px;
}
.guide-steps::before {
  content: "";
  display: block;
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 5px;
  left: 50%;
  background: #19329c;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #1f3fb5 0, #2177e8 100%);
  background-repeat: repeat-x;
}
.steps-num {
  font-size: 1.2em;
  position: absolute;
  left: 50%;
  width: 2.75em;
  height: 2.75em;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 2;
  line-height: 2.125;
  font-weight: 700;
  text-align: center;
  color: #19329c;
}
.steps-num::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(135, 175, 235, 0.3);
  box-shadow: 0 10px 20px rgba(135, 175, 235, 0.3);
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.steps-num::after {
  content: "";
  display: block;
  position: absolute;

  top: 50%;
  width: 0.875em;
  height: 0.875em;
  margin-top: -0.4375em;
  background: #ff1919;
  background-image: linear-gradient(45deg, #ff1919, #ff7900);
  background-repeat: repeat-x;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.guide-steps_item:nth-child(2n + 1) .steps-num::after {
  right: -0.2083333333em;
}
.guide-steps_item:nth-child(2n) .steps-num::after {
  left: -0.2083333333em;
}
.steps-num span {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #ff1919;
  background-image: linear-gradient(to bottom, #ff1919 0, #ff7900 100%);
  background-repeat: repeat-x;
}
.steps-num span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.steps-content-img {
  width: 46px;
}
.guide-steps_item:nth-child(2n + 1) {
  float: right;
  text-align: center;
  clear: both;
}
.steps-content-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #282828;
  margin: 0 auto;
  max-width: 162px;
  margin-top: 9px;
  text-align: center;
}
.steps-content-title a {
  color: #337ab7;
}
.steps-content-desc {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}
.steps-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
}
.guide-steps_item {
  width: 122px;
  clear: both;
}

.promise {
  margin-top: 35px;
  padding: 88px 12px 47px 12px;
  background-image: url("./../img/EC-Banner-Homepage2.jpg");
  background-position: center -43px;
  background-position-x: 79% !important;
  background-size: auto 120%;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 0 20px rgba(25, 50, 156, 0.35);
  box-shadow: 0 0 20px rgba(25, 50, 156, 0.35);
  min-height: 430px;
}
.promise::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22.5714285714em;
  height: 14.2857142857em;
  background-image: url("./../img/ourPromise-bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top left;
  z-index: 1;
  width: 176px;
  max-width: 42.5120772947%;
  left: 0;
}
.promise::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(27, 69, 152, 0.6) 0,
    rgba(26, 70, 149, 0.6) 100%
  );
  background-repeat: repeat-x;
}
.promise-text {
  position: relative;
  z-index: 10;
}
.promise-desc {
  text-align: justify;
  margin: 0 auto;
  font-size: 23px;
  width: 92%;
  color: #000;
}
.promise-span {
  color: #19329c !important;
}
.promise-text .partner-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.customer {
  margin-top: 35px;
}
.customer-swiper {
  width: 100%;
  overflow: visible !important;
}
.customer-swiper .swiper-scrollbar {
  top: 12px !important;
  background: #134390;
  height: 3px;
}
.customer-swiper .swiper-scrollbar-drag {
  background: #ff1919;
}
.customer-title {
  font-size: 24px;
  color: #495057;
  line-height: 1.1;
  font-weight: 400;
  padding-bottom: 10px;
  position: relative;
  margin-top: 24px;
  text-align: center;
  padding: 0 18px;
}
.customer-title span {
  color: #19329c;
  font-weight: 700;
}
.customer-subtitle {
  margin-top: 20px;
  font-size: 16px;
  color: inherit;
  line-height: 1.28;
  color: #282828;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 0 18px;
}
.customer-desc {
  color: #777777;
  font-size: 14px;
  margin: 16px 0 20px 0;
  line-height: 1.28;
  text-align: justify;
  padding: 0 18px;
}
.customer-main {
  overflow: hidden;
  padding: 0 12px;
  box-shadow: rgba(25, 50, 156, 0.35) 0px 5px 20px;
}

.support {
  margin-top: 35px;
  padding: 0 12px;
}

.care-ready {
  margin-top: 35px;
  padding: 15px 30px;
  background-image: url("./../img/shutterstock_341312642.jpg");
  background-position: center !important;
  background-size: cover;
  position: relative;
  box-shadow: 0 8px 10px rgba(25, 50, 156, 0.15);
}
.care-ready::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./../img/breadcrumbs-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.care-ready-title {
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 10;
}
.care-ready-subtitle {
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-align: center;
  color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 10;
}

.footer {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 0 12px;
}
.footer-img {
  width: 180px;
  margin-bottom: 10px;
}
.footer-top {
  border-bottom: 1px dotted;
  padding: 10px 0px;
}
.footer-top p {
  margin-bottom: 10px;
}
.footer-bottom {
  padding-top: 15px;
}
.footer-bottom_title {
  font-weight: bold;
  color: #000000;
  margin: 10px 0px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.1;
}
.footer-bottom_subtitle {
  color: #000000;
  margin-bottom: 5px;
}
